<main>
  <div class="container">
    <div class="card hero">
      <p class="text-display-1 hero-title">
        Let’s start authenticating <br /> with KindeAuth
      </p>
      <p class="text-body-1 hero-tagline">Configure your app</p>
      <a
        href="https://kinde.com/docs/sdks/nextjs-sdk"
        target="_blank"
        rel="noreferrer"
        class="btn btn-light btn-big"
        >
      Go to docs
      </a>
    </div>
  </div>
</main>