<main>
  <div class="container">
    <div class="card hero">
       <div>
            <div>
                <h2>Status: </h2>
                <%= user_status(@user) %>
            </div>
            <div>
                <h2>User Identity:</h2>
                <%= user_id(@user) %>
            </div>
        </div>
    </div>
  </div>
</main>
