<% flash.each do |name, msg| %>
  <div class="preview">
    <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable fade in">
      <%= msg %>
    </div>
  </div>
<% end %>
