<footer class="footer">
  <div class="container">
    <strong class="text-heading-2">KindeAuth</strong>
    <p class="footer-tagline text-body-3">
      Visit our
      <a class="link" href="https://kinde.com/docs">
      help center
      </a>
    </p>
    <small class="text-subtle">
    © 2023 KindeAuth, Inc. All rights reserved
    </small>
  </div>
</footer>